:root {
    --background-colour: #111;
    --background-text-colour: white;
    --foreground-text-colour: white;
    --foreground-text-shadow: black;
    --background-blend-mode: screen;
    --background-opacity-max: 1;
    --background-opacity-min: 0.5;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-colour: #eee;
        --background-text-colour: black;
        --foreground-text-colour: black;
        --foreground-text-shadow: white;
        --background-blend-mode: difference;
        --background-opacity-max: 0.6;
        --background-opacity-min: 0.4;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background-colour);
    overflow: hidden;
}

.background {
    text-align: center;
    font-size: 125pt;
    filter: blur(3pt);
    animation-name: bluranim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background-text-colour);
    isolation: isolate;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
}

@keyframes bluranim {
    from {
        filter: blur(3pt);
        opacity: var(--background-opacity-min);
    }
    to {
        filter: blur(9pt);
        opacity: var(--background-opacity-max);
    }
}

.backgroundtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: var(--background-blend-mode);
    overflow: hidden;

    animation-name: colourfulanim, colourfulanimy, bgfade;
    animation-duration: 3s, 6s, 5s;
    animation-iteration-count: infinite, infinite, 1;
    animation-direction: alternate, alternate, normal;
    animation-timing-function: linear, linear, linear;
}

.greybg {
    color: var(--background-text-colour);
    animation-name: unset;
    mix-blend-mode: initial;
}

.redbg {
    color: red;
    animation-delay: 0s, -4s, 0s;
}

.greenbg {
    color: lime;
    animation-delay: -1s, 0s, 0s;
}

.bluebg {
    color: blue;
    animation-delay: -2s, -2s, 0s;
}

@keyframes colourfulanim {
    from {
        left: -2.5pt;
    }
    to {
        left: 2.5pt;
    }
}

@keyframes colourfulanimy {
    from {
        top: -2.5pt;
    }
    to {
        top: 2.5pt;
    }
}

@keyframes bgfade {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
}

.text {
    text-align: center;
    font-size: 15pt;
    color: var(--foreground-text-colour);
    text-shadow: var(--foreground-text-shadow) 0 0 5pt;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}
